.module-padding {
 
    padding: $module-page-padding;
}


//PADDING TOP

.p-t-sm {
    
    padding-top: $padding-sm;
}

.p-t-md {
   
    padding-top: $padding-md;
}

.p-t-lg {
    
    padding-top: $padding-lg;
}
.p-t-xl {
    
    padding-top: $padding-xl;
}
//PADDING RIGHT

.p-r-sm {
    
    padding-right: $padding-sm;
}

.p-r-md {
   
    padding-right: $padding-md;
}

.p-r-lg {
    
    padding-right: $padding-lg;
}
.p-r-xl {
    
    padding-right: $padding-xl;
}
//PADDING BOTTOM

.p-b-sm {
    
    padding-bottom: $padding-sm;
}

.p-b-md {
   
    padding-bottom: $padding-md;
}

.p-b-lg {
    
    padding-bottom: $padding-lg;
}
.p-b-xl {
    
    padding-bottom: $padding-xl;
}
.p-b-95 {
    padding-bottom: 95px;    
}
//PADDING LEFT

.p-l-sm {
    
    padding-left: $padding-sm;
}

.p-l-md {
   
    padding-left: $padding-md;
}

.p-l-lg {
    
    padding-left: $padding-lg;
}



//MARGIN TOP

.m-t-sm {
    
    margin-top: $margin-sm;
}

.m-t-md {
   
    margin-top: $margin-md;
}

.m-t-lg {
    
    margin-top: $margin-lg;
}

.m-t-xl {
    
    margin-top: $margin-xl;
}

//MARGIN RIGHT

.m-r-sm {
    
    margin-right: $margin-sm;
}

.m-r-md {
   
    margin-right: $margin-md;
}

.m-r-lg {
    
    margin-right: $margin-lg;
}

//MARGIN BOTTOM

.m-b-sm {
    
    margin-bottom: $margin-sm;
}

.m-b-md {
   
    margin-bottom: $margin-md;
}

.m-b-lg {
    
    margin-bottom: $margin-lg;
}

.m-b-xl {
    
    margin-bottom: $margin-xl;
}

//MARGIN LEFT

.m-l-sm {
    
    margin-left: $margin-sm;
}

.m-l-md {
   
    margin-left: $margin-md;
}

.m-l-lg {
    
    margin-left: $margin-lg;
}
