
.no-margin {
    margin: 0;
}

.page-list {
 
    ul {
        
        li {
        
            margin-bottom: $margin-sm;
            
            &:first-child {

                color: #ecc35d;
                font-family: $helvetica-black;
                font-size: $font-size-18;
                text-transform: uppercase;
            }
            
            a {
             
                color: $white;
                font-size: $font-size-18;
            }
        }
    }
}

.accordion-wrapper, .refine-accordion-wrapper {
 
    //margin: 0 20%;
    text-align: $align-left;
}

.accordion-btn, .refine-accordion-btn {
  font-family: $helvetica-neue;    
  display: block;
  position: relative;
  margin-bottom: -1px;
  border-radius: 0;
  color: $gray;
  border: 1px solid $gray-light;
  padding: 10px 15px;
  font-size: $font-size-18;
  font-weight: $font-semibold;
  cursor: pointer;
  //border-bottom: none;
    
    &:before {
        
      position: absolute;
      top: 50%;
      right: 15px;
      font-size: $font-size-18;
      z-index: 2;
      margin-top: -13px;
      font-family: FontAwesome;
      content: "\f078";
      color: $gray;        
    }
}

.accordion-content, .refine-accordion-content {

  font-size: $font-size-18;
  padding: $accordion-content-padding;
  border-left: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
    
    h2 {
        
        font-size: $font-size-20;
        font-weight: $font-semibold;
    }
    
    p {
        font-size: $font-size-18;
    }
}

.accordion-active, .refine-accordion-active {
    
    border-bottom: transparent;
    
    &:before {
        
      font-family: FontAwesome;
      content: "\f077";
    }
}


.mobile-refinement {

    display: none;
}

@media (max-width: $breakpoint-xs) {
    
    #desktop-refinement {
     
        display: none;
    }      
    .mobile-refinement {
     
        display: block;
    }  
    .refine-accordion-wrapper {
        border-top: 0px;
    }

    .refine-accordion-btn {

        font-size: $font-size-14;
        padding-right: 40px;
        border-top: 0px;
        border-left: 0;
        border-right: 0;
        padding-top: 0;        
    }
    
    .refine-accordion-content {
     
        font-size: $font-size-14;
        padding: 25px 15px 25px 15px;
        border-top: 0px;
        border-left: 0;
        border-right: 0;
        padding: 0 15px 10px;        
    }

}