
a, button {
    @include custTransition (900ms, $easeOutQuint);
    
    &:hover {
        
        @include custTransition (900ms, $easeOutQuint);
    }
}

ul {
    
    list-style: none;
    padding: 0;   
}

.flex {
 
    display: flex;
}
.flex-direction {
 
    display: flex;
    flex-direction: column;
}
.content-container {
    
    margin: 0 auto 10px;
    max-width: 960px;    
}