//===============================\\
//========== UTILITIES ==========\\
//===============================\\

$navbar-height: 70px; //sets navbar height
$navbar-height-mobile: 50px; //sets navbar height

$logo-width: 172px;
$logo-height: 41px;

$menu-nav-heading-title: 31px;
$menu-nav-margin-left: 145px;
$menu-nav-margin-top: 85px; //155px;
$menu-nav-margin: 85px 10% 5% 10%;//85px 100px 40px 145px;

$module-page-padding: 28px 50px 50px;

$contact-padding: 4% 22%;

$contact-sub-head-padding: 0px 150px 0px 0px;

$accordion-content-padding: 25px 150px 25px 15px;

$footer-icon-padding: 0 50px;
$footer-icon-padding-mobile: 0px 20px;