/*==================================================================
    FOOTER 
===================================================================*/


footer {
    
    background-image: url("../images/footer.png");
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;    

    .social-media-icons {
        
        ul {
            
            display: flex;
            justify-content: space-between;

            li {
                    padding: $footer-icon-padding;
                
                a {
                    font-size: $font-size-40;
                    color: $white;
                }
            }
        }
    }
}

.hideFooter {
  bottom: -150px;
  opacity: 0;
}
@media all and (max-width: $breakpoint-smplus) {

footer {  
    
        .social-media-icons {

            ul {

                li {
                        padding: $footer-icon-padding-mobile;
                }
            }
        }
    }
}
    