//FORMS

.fg-form {
    
    font-family: $helvetica-neue;
    border-radius: 0;
    padding: $padding-lg;
    height: inherit;
    font-weight: $font-bold;
    font-size: $font-size-18;
    margin-bottom: $margin-lg;
}

[type="text"].fg-form {
    font-weight: $font-bold;
    font-style:normal;
    font-size: $font-size-18; 
    padding-left: 15px;    
}

.fg-select {
    
    font-family: $helvetica-neue;
    font-size: $font-size-18;    
    font-weight: $font-bold;
    padding: $padding-lg;
    height: inherit; 
    width: 50%;
    position: relative;
    bottom: 15px;  
    border-radius: 0;    
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;   
}

.contact-select {
    
    font-family: $helvetica-neue;
    font-size: $font-size-18;    
    font-weight: $font-bold;
    border-radius: 0;
    background: $white;
    padding: $padding-lg;
    height: inherit; 
    width: 100%;
    position: relative;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor: pointer;
    
    &:after {
        
    }
}

.select-arrow, .relative-element {
    position: relative;
}

.chevron-position  {
    
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: $font-size-24;
}

//CHECKBOXES

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    padding-right: 20px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 20px;
    font-size: $font-size-11;
    font-weight: $font-thin;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
[type="checkbox"].fg-box:checked+label:before {
    /*top: 0;
    left: 0;
    width: 8px;
    height: 14px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 3.5px solid $primary;
    border-bottom: 3.5px solid $primary;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;*/
    
    content: '';
    position: absolute;
    width: 9px;
    height: 6px;
    background: transparent;
    top: 5px;
    left: 5px;
    border: 2.5px solid $primary;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);    
}
[type="checkbox"].fg-box:not(:checked)+label:after {
    height: 18px;
    width: 18px;
    border: 1px solid $gray-light;
    background-color: $white;
    top: 0px;
    border-radius: 0;
    z-index: 0;
}
[type="checkbox"].fg-box:checked+label:after {
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $gray-light;
    background-color: $white;
    border-radius: 0;
    z-index: 0;
}

[type="checkbox"].fg-box+label:before, [type="checkbox"].fg-box+label:after {
    content: '';
    left: 0;
    position: absolute;
    //transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
}
[type="checkbox"].fg-box+label:after {
    border-radius: 2px;
}


//SEARCH

.search-box-wrapper {
 
    margin: 0 22%;
}

[type="text"].search-box {
    border-radius: 0;
    padding: $padding-lg;
    height: inherit;
    font-weight: $font-normal;
    font-style: italic;
    font-size: $font-size-19;
    margin-bottom: $margin-lg;    
    padding-left: 60px;
}
 
input[type="text"] {
    
    font-weight: $font-normal;
    font-style: italic;
    font-size: $font-size-19;
    padding-left: 60px;
}


.search-btn {
 
    background: transparent;
    border-color: transparent;
    font-size: $font-size-32;
    color: $gray-base;
    
    &:hover {
     
        background-color: transparent;
        border-color: transparent;   
    }
}

.search-loc-position {
    position: absolute;
    top: 12px;
    left: 35px;
    font-size: $font-size-28;
    color: $gray;
}

.search-icon-position  {
    
    position: absolute;
    bottom: 24px;
    right: 20px;
    //font-size: $font-size-24;
}

.ui-autocomplete-input {
    border-radius: 0 !important; //TO DO - change this in custom css
    padding: 15px 15px 15px 65px !important;
    height: inherit;
    font-weight: $font-bold;
    font-size: $font-size-18;
    margin-bottom: $margin-lg;    
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    font-family: $helvetica-neue;
    font-size: $font-size-19;
    color: $gray-base;
    border-radius: 0;
    list-style: none;
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}
.ui-autocomplete > li {
  padding: 15px 15px 15px 65px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

.flip-icon {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}



.chevron-position-nav {
@extend .chevron-position; 
    
        bottom: inherit;
    }

@media (max-width: $breakpoint-smplus) and (max-width: $breakpoint-mdplus) {
    
    .fg-select {

        font-family: $helvetica-neue;
        font-size: $font-size-14;    
        font-weight: $font-bold;
        padding: $padding-sm;
        height: inherit; 
        width: 55%;
        position: inherit;
        margin: 0;

        &:after {

            font-family: 'FontAwesome';
        }
    }
    .search-box-wrapper {
     
        margin: 0;
    }
    [type="text"].search-box {
     
        font-size: $font-size-16;
        padding-left: 45px;
    }
    .search-btn {
     
        font-size: $font-size-18;
    }
    .search-loc-position {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: $font-size-24;
    }    
    .search-icon-position {
        position: absolute;
        bottom: 30px;
        right: 5px;
    }    
    .absolute {
        display: none;
    }
    
   [type="checkbox"] + label {
    
       display: block;
   }
}