//FORMS

.fg-form {
    
    font-family: $helvetica-neue;
    border-radius: 0;
    padding: $padding-lg;
    height: inherit;
    font-weight: $font-bold;
    font-size: $font-size-18;
    margin-bottom: $margin-lg;
}

.ui-autocomplete-input {
    border-radius: 0 !important; //TO DO - change this in custom css
    padding: 15px 15px 15px 35px !important;
    height: inherit;
    font-weight: $font-bold;
    font-size: $font-size-18;
    margin-bottom: $margin-lg;    
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    font-family: $helvetica-neue;
    font-size: $font-size-19;
    color: $gray-base;
    border-radius: 0;
    list-style: none;
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}
.ui-autocomplete > li {
  padding: 15px 15px 15px 35px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

.search-box-wrapper {
 
    margin: 0 25%;
}

.search-box {
@extend .fg-form; 

    
}

 
input[type="text"] {
    
    font-weight: $font-normal;
    font-style: italic;
    font-size: $font-size-19;
    padding-left: 40px;
}


.search-btn {
 
    background: transparent;
    border-color: transparent;
    font-size: $font-size-32;
    color: $gray-base;
    
    &:hover {
     
        background-color: transparent;
        border-color: transparent;   
    }
}

.search-loc-position {
    position: absolute;
    top: 12px;
    left: 14px;
    font-size: $font-size-28;
    color: $gray;
}

.search-icon-position  {
    
    position: absolute;
    bottom: 24px;
    right: 20px;
    //font-size: $font-size-24;
}

.flip-icon {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.contact-select {
    
    font-family: $helvetica-neue;
    font-size: $font-size-18;    
    font-weight: $font-bold;
    border-radius: 0;
    background: $white;
    padding: $padding-lg;
    height: inherit; 
    width: 100%;
    position: relative;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none; 
    
    &:after {
        
    }
}

.fg-select {
    
    font-family: $helvetica-neue;
    font-size: $font-size-18;    
    font-weight: $font-bold;
    padding: $padding-lg;
    height: inherit; 
    width: 50%;
    position: relative;
    bottom: 15px;  
    border-radius: 0;    
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;   
}

.select-arrow, .relative-element {
    position: relative;
}

.chevron-position  {
    
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: $font-size-24;
}

.chevron-position-nav {
@extend .chevron-position; 
    
        bottom: inherit;
    }

@media (max-width: $breakpoint-xs) {
    
    .fg-select {

        font-family: $helvetica-neue;
        font-size: $font-size-14;    
        font-weight: $font-bold;
        padding: $padding-sm;
        height: inherit; 
        width: 55%;
        position: inherit;
        margin: 0;
        //bottom: 15px;  
        //background-position: 205px -7px;

        &:after {

            font-family: 'FontAwesome';
        }
    }
    
    .absolute {
        
        display: none;
    }
}